---
const { title, description, image, lang, canonicalURL, SEO } = Astro.props;

const globalCSS = Astro.resolve('../styles/global.css');

const locale = {
    en: "en_US",
    ja: "ja_JP"
}
const alternateLocale = lang === "en" ? "ja_JP" : "en_US";
---

<!-- Common -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{title}</title>
<meta name="description" content={description}>

<!-- Favicon -->
<link rel="shortcut icon" href="/apple-touch-icon.png" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

<!-- fonts -->
{ lang === "ja" && (<link rel="preconnect" href="https://fonts.googleapis.com">)}
{ lang === "ja" && (<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> )}
{ lang === "ja" && (<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">)}

<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href={globalCSS}>

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">

<!-- RSS -->
<!-- <link rel="alternate" type="application/rss+xml" href="/feed/posts.xml"> -->

<!-- SEO -->
<link rel="canonical" href={canonicalURL}>

<!-- OpenGraph -->
<meta property="og:locale" content={locale[lang]}/>
<meta property="og:locale:alternate" content={alternateLocale}/>
<meta property="og:site_name" content="Vin Yap Portfolio"/>
<meta property="og:title" content={title}>
{ description && <meta property="og:description" content={description}> }
{ image && (<meta property="og:image" content={new URL(image, canonicalURL)}>) }
{ image && (<meta property="og:image:width" content="1200">) }
{ image && (<meta property="og:image:height" content="630">) }
{ image && (<meta property="og:image:type" content="image/png">) }
{ image && (<meta property="og:image:alt" content={title}>) }
<meta property="og:type" content="website"/>
<meta property="og:url" content={Astro.request.url.href}/>


<!-- Twitter -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'}>
<meta name="twitter:site" content="@vineryap">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
{ image && (<meta name="twitter:image" content={image}>) }

<script type="module" src={Astro.resolve('../scripts/scroll-handler.js')} defer></script>
<slot/>