---
const { siteTitle, title, description, image, lang, canonicalURL, SEO } = Astro.props;

const globalCSS = Astro.resolve('../styles/global.css');

const locale = {
    en: "en_US",
    ja: "ja_JP"
}
---

<!-- Common -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content={description}>
<title>{siteTitle}</title>

<link rel="stylesheet" type="text/css" href={globalCSS}>

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">

<!-- RSS -->
<!-- <link rel="alternate" type="application/rss+xml" href="/feed/posts.xml"> -->

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

<!-- SEO -->
<link rel="canonical" href={canonicalURL}>

<!-- OpenGraph -->
<meta property="og:locale" content={locale[lang]}/>
<meta property="og:locale:alternate" content={lang}/>
<meta property="og:site_name" content="Vin Yap Portfolio"/>
<meta property="og:title" content={title}>
{ description && <meta property="og:description" content={description}> }
{ image && (<meta property="og:image" content={new URL(image, canonicalURL)}>) }
{ image && (<meta property="og:image:width" content="1200">) }
{ image && (<meta property="og:image:height" content="630">) }
{ image && (<meta property="og:image:type" content="image/png">) }
{ image && (<meta property="og:image:alt" content={title}>) }
<meta property="og:type" content="website"/>
<meta property="og:url" content={canonicalURL}/>


<!-- Twitter -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'}>
<meta name="twitter:site" content="@vineryap">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
{ image && (<meta name="twitter:image" content={image}>) }

<script type="module" src={Astro.resolve('../scripts/scroll-handler.js')}></script>
<slot/>