---
import MenuDrawer from './MenuDrawer.astro';
// import Clock from './Clock.jsx'
import Clock from './Clock.svelte'

const { navLinks = [], projectTitle } = Astro.props;
---

<style>
.nav-link::before {
  @apply content-[''] transition-all w-1 h-1 p-1 mr-3;
}
</style>

<div class="fixed z-10 w-full items-center">
  <div class={`transition duration-500 ease-in-out transform bg-base-200 bg-opacity-0  backdrop-filter ${projectTitle ? 'bg-opacity-20 backdrop-blur shadow' : 'md:bg-opacity-20 md:backdrop-blur md:shadow'}`}>
    <div class="container flex flex-wrap mx-auto justify-evenly px-5 py-2 md:items-center md:flex-row items-center">
      <!-- <a href="/" class="flex justify-start items-center mr-auto">
        <div class="inline-flex items-center">
          <h2 class="block p-2 text-xl font-medium tracking-tighter text-black transition duration-500 ease-in-out transform cursor-pointer lg:text-x"> Vin </h2>
        </div>
      </a> -->

      <nav class="hidden md:flex justify-center focus:outline-none items-center md:min-w-[10rem] lg:min-w-[20rem]">
        <ul class="items-center inline-block list-none md:inline-flex">
          {
            navLinks && navLinks.map(link => (
              <li>
                <a href={link.uri} class="nav-link px-4 py-1 mr-1 text-base hover:text-black font-medium transition-all inline-flex items-center">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      {
        projectTitle &&
        <div class="flex justify-center mr-auto md:mx-auto md:flex-auto">
          <h2 class="block p-2 text-md md:text-xl font-medium tracking-tighter text-black transition duration-500 ease-in-out transform cursor-pointer lg:text-x break-words"> {projectTitle} </h2>
        </div>
      }

      <div class="flex flex-wrap items-center justify-end text-base ml-auto md:min-w-[10rem] lg:min-w-[20rem]">
        <MenuDrawer links={navLinks} {projectTitle} />
        <div class="hidden md:inline-flex items-center list-none">
          <div class="w-40 h-6 group cursor-default">
            <Clock client:only="svelte"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- 
<style>
.toggle-theme {
  @apply bg-primary;
}
.toggle-theme:checked {
  @apply bg-yellow-400 border-yellow-400;
}

nav > a > span::before {
  content: "";
  @apply transition-all opacity-0 left-0 -bottom-3 h-1 w-0 bg-success rounded absolute;
}
nav > a:hover > span::before {
  @apply opacity-100 w-full;
}
</style> -->