---
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navigation/Navbar.astro';
import Footer from '../components/Footer.astro';
import FccToggle from '../components/Widgets/fCCTestSuitToggle.svelte';

const { lang = 'en', projectInfo, fccTestSuite = true } = Astro.props;

const title = `${projectInfo.title} - Project | Vin Yap`;

const MainHeadProps = {
  title,
  description: projectInfo.description,
  lang
};
---
<!DOCTYPE html>
<html lang={lang}>
    <head>
        <MainHead { ...MainHeadProps } />
    </head>
    <body>
      <main class="relative min-h-screen w-full">
        <div class="flex flex-col items-center pb-20 ">
          <Navbar lang={lang} projectTitle={projectInfo.title} />
          <slot />
          { fccTestSuite && <FccToggle client:only="svelte" /> }
        </div>
        <Footer lang={lang}/>
      </main>
    </body>
</html>